/*--------------------Configuracoes gerais*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #EFF1F4;
}
h1{
    color: #EFF1F4;
}
/*--------------------Configuracoes logotipo no menu e menu*/
.logo-menu{
    visibility: hidden;
    
}


    

/*--------------------Configuracoes imagem topo*/
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home{
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    opacity: 0.9;
    
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#home .content{
    width: 100%;
    color: #fff;
}
#home .content h1{
    font-size: 60px;
    margin-bottom: 60px;
}

/*--------------------Configuracoes mudanca de cores do menu*/
.blue{
    font-size: large;
    background: transparent;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
}



/*--------------------Configuracoes logotipo e slogan*/
.logo{
    margin-top: 10%;
    color: #EFF1F4;
}
.logo span{
    display: none;
}


/*--------------------Configuracoes fade-up no topo*/
@keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(3em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.fade-up {
    animation: fade-up 4s cubic-bezier(.05,.98,.17,.97) forwards;
  }
  img.fade-up {
    opacity: 0;
    animation-delay: 0.2s;
  }
  
  p.fade-up {
    opacity: 0;
    animation-delay: 0.4s;
  }
  a.fade-up {
    opacity: 0;
    animation-delay: 0.6s;
  }
/*------------------Back to top button*/
#button {
  display: inline-block;
  background-color: #14243E;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: ' \02C4';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}


/*--------------------Configuracoes cards*/
  .card{
      background-color: transparent;    
      border: none;
  }
/*--------------------Configuracoes section saiba mais*/
#background-image{
    height: 500px;
    margin: 0;
    display: flex;
    min-height: 20px;
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    opacity: 0.8;
    
}
/*-----social icon on footer-----*/
.social ul {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding-left: 0px;
}

.social li {
  display: inline-block;
  margin: 4px;
}

.social li a {
  color: #EFF1F4;
  width: auto;
  display: block;
  text-decoration: none;
  border-bottom: medium none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in 0s, all 1s ease 0s;
  background: #185f87;
}

.social i{
  color: #EFF1F4;
}
.linkedin:hover {
  background-color:#006db3;
}
/*-----------------page about - top image*/

.h-250rem{
  height: 15.625rem;
}
.bg-img-about{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media only screen and (max-width: 768px){
  .sumir{
    display: none;
  }
}

/*-----------image in contact page*/

#contato-img{
    height: 100vh;
    background-image: url(../img/contact.jpg);
    margin: 0;
    display: flex;
    min-height: 20px;
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    opacity: 0.8;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}