/*--------------------Configuracoes gerais*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #EFF1F4;
}
h1{
    color: #EFF1F4;
}
/*--------------------Configuracoes logotipo no menu e menu*/
.logo-menu{
    visibility: hidden;
    
}

    

/*--------------------Configuracoes imagem topo*/
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home{
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    opacity: 0.8;
    
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#home .content{
    width: 100%;
    color: #fff;
}
#home .content h1{
    font-size: 60px;
    margin-bottom: 60px;
}

/*--------------------Configuracoes mudanca de cores do menu*/
.blue{
    background: transparent;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
}

/*--------------------Configuracoes logotipo e slogan*/
.logo{
    margin-top: 10%;
    color: #EFF1F4;
}
.logo span{
    display: none;
}


/*--------------------Configuracoes fade-up no topo*/
@keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(3em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.fade-up {
    animation: fade-up 4s cubic-bezier(.05,.98,.17,.97) forwards;
  }
  img.fade-up {
    opacity: 0;
    animation-delay: 0.2s;
  }
  
  p.fade-up {
    opacity: 0;
    animation-delay: 0.4s;
  }
  a.fade-up {
    opacity: 0;
    animation-delay: 0.6s;
  }



/*--------------------Configuracoes cards*/
  .card{
      background-color: transparent;    
      border: none;
  }
/*--------------------Configuracoes section saiba mais*/
#background-image{
    height: 500px;
    margin: 0;
    min-height: 20px;
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    opacity: 0.8;
    
}
/*--------------------Carousel clients*/
